In [1]:
import pandas as pd

In [2]:
file = '100knock-data_analytics/朝練/height_data.csv'

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

      身長
0  170.9
1  173.5
2  164.8
3  174.7
4  168.1